.two-col
  .header
    #left_column
      .inner{:style => "padding-left: 40px"}
        %h2= t :edit_password
        %div{:style => "margin:100px 120px; text-align: center"}
          = form_for @user, :url => update_user_password_path(params[:id]) do |f|
            = render "layouts/error_messages", :item => @user
            %table
              %tr
                %td{:style => "text-align: right; padding-top: 4px"}
                  = f.label :old_password
                %td
                  = f.password_field :old_password
              %tr
                %td{:style => "text-align: right; padding-top: 4px"}
                  = f.label :password
                %td
                  = f.password_field :password
            .actions= f.submit t(:edit_password)


    #right_column
      = render :partial => "users/user_column", :locals => {:user => current_user_obj}          
    
