%h2 History
%table{:style => "margin: 0px; border-collapse:collapse;", :border => 1}
  %tr
    %th originator
    %th terminator
    %th index
    %th id
    %th event
    %th created_at
    %th ago
  - post.versions.each do |version|
    %tr
      %td= version.originator
      %td= version.terminator  
      %td= version.index  
      %td= version.id          
      %td= version.event
      %td= version.created_at
      %td= time_ago_in_words version.created_at

