.motto
  - if @og
    %div{:style => "float: right"}
      = facebook_button(@og[:url], @html_title)
      = twitter_button(@og[:url], @html_title)
      = google_button(@og[:url], @html_title)
  %h3= t :how_it_works
  %table
    %tr
      %td{:style => "padding: 10px 20px 10px 0"}
        = image_tag("icons/01.png")
      %td{:style => "padding-bottom: 10px; border-bottom: 2px solid orange; vertical-align: middle"}
        %h2= t :step_1_title
        = t :step_1_detail
    %tr
      %td{:style => "padding: 10px 20px 10px 0"}
        = image_tag("icons/02.png")
      %td{:style => "padding-bottom: 10px; border-bottom: 2px solid orange; vertical-align: middle"}
        %h2= t :step_2_title
        = t :step_2_detail
    %tr
      %td{:style => "padding: 10px 20px 10px 0"}
        = image_tag("icons/03.png")
      %td{:style => "padding-bottom: 10px; border-bottom: 2px solid orange; vertical-align: middle"}
        %h2= t :step_3_title
        = t :step_3_detail
    %tr
      %td{:style => "padding: 10px 20px 10px 0"}
        = image_tag("icons/04.png")
      %td{:style => "padding-bottom: 10px; border-bottom: 2px solid orange; vertical-align: middle"}
        %h2= t :step_4_title
        = t :step_4_detail
    %tr
      %td
      %td{:style => "padding: 10px 20px 10px 0"}
        = t :extra_step
