!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title Guupa | #{title}
    = render 'layouts/stylesheets'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body{:onload => "initialize()"}
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash#{name}"
    = yield
    #footer{:style => "background-color: #eee; border: 2px dotted #ccc; margin-top: 1em; padding: 1em"}
      = render 'layouts/footer'
      %h2 current_user
      = debug(@current_user) if Rails.env.development?
      %h2 Env
      = debug(request.env["HTTP_ACCEPT_LANGUAGE"]) if Rails.env.development?
      %h2 Cookies
      = debug(cookies) if Rails.env.development?
      %h2 Session (g Cookie)
      = debug(session) if Rails.env.development?
      %h2 Params
      = debug(params) if Rails.env.development?

